/*colors
blue = #00A8B2;
green = #B5D655;
tan = #F7F6F3;
orange = #F27E00;
red = #E81610;
yellow = #FFC61B;*/

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Ubuntu';
	color: #2a2a2a;
}

#home-container {
	margin-top: 80px;
}

.line {
	height: 2px;
	background-color: #00A8B2;
}

.cta {
	text-align: center;
	color: #FFF;
}

.sm-cta {
  height: 20px;
	width: 20px;
	line-height: 20px;
	border-radius: 10px;
}

.lg-cta {
  height: 50px;
	width: 50px;
	line-height: 50px;
	border-radius: 25px;
}

#logo {
	font-size: 2.0em;
	line-height: 50px;
	float: left;
	color: #00A8B2;
	cursor: pointer;
}

#lg-logo {
	font-size: 2.5em;
	color: #00A8B2;
}

#slogan {
	font-size: 2.0em;
	font-weight: 300;
	margin-bottom: 60px;
}

#fb-button {
	margin-top: 60px;
	font-weight: normal;
	font-size: 1.2em;
	background-color: #3B5999;
	border-radius: 35px;
	color: #FFF;
	height: 70px;
	padding: 0px 30px;
	text-indent: 45px;
	background-image: url('../img/facebook.png');
	background-position: 30px center;
	background-repeat: no-repeat;
	border-top: 2px solid #4467b3;
	border-bottom: 4px solid #293e6b;
	border-right: 2px solid #293e6b;
	border-left: 2px solid #293e6b;
}

#fb-button:active {
  border: none;
  border-top: 2px solid #293e6b;
}

#endorser-container {
	margin-top: 60px;
	border-top: 1px solid #DDD;
	padding-top: 60px;
}

#endorser-left {
	width: 450px;
	float: left;
	margin-right: 60px;
}

#endorser-right {
	width: 450px;
	float: left;
}

.endorser-photo img{
	padding: 2px;
	border: 2px solid #DDD;
	border-radius: 45px;
	float: left;
}

.endorser-text {
	float: left;
	margin-left: 20px;
	line-height: 150%;
	max-width: 350px;
}

.endorser-name {
	color: #aaa;
	font-size: .8em;
} 


#disclaimer {
	color: #aaa;
	font-weight: 300;
	font-size: 1.0em;
	margin-top: 20px;
}

#account-view{
	margin-top: 20px;
}

#account {
	float: right;
	position: relative;
	height: 50px;
	width: 50px;
	border-radius: 50px;
	overflow: hidden;
}

#status {
	float: right;
	height: 50px;
	width: 90px;
	border-radius: 25px;
	line-height: 50px;
	position: relative;
	margin-right: 10px;
	color: #FFF;
	padding: 0px 20px;
	font-size: 1.2em;
}

#status.single {
	background-color: #B5D655;
}

#status.taken {
  background-color: #FFC61B;;
}

#status-button {
	background-color: #FFF;
	height: 44px;
	width: 44px;
	position: absolute;
	top: 3px;
	border-radius: 22px;
}

#status-button.single {
	left: 3px;
}

#status-button.taken {
	left: 83px;
}

#status-text.single {
	text-align: right;
}

#status-text.taken {
	text-align: left;
}

#alert {
  background-color: #E81610;
  position: absolute;
  top: -5px;
  right: -65px;
  font-size: .8em;
}

.instruction {
	font-size: 1.5em;
	font-weight: 300;
}

.user-container {
	box-shadow: 0px 1px 3px rgba(0,0,0,.4);
	background-color: #f4eeec;
}

.user-image {
	height: 180px;
	width: 180px;
	border-radius: 3px;
	overflow: hidden;
}

.user-image-container {
	height: 180px;
	width: 180px;
	overflow: hidden;
	border-radius: 3px;
	border: 3px solid #DDD;
	margin: 17px;
}

.date-detail {
	background-repeat: no-repeat;
	background-position: left center;
	text-indent: 40px;
	height: 50px;
	line-height: 50px;
}

.date {
	background-image: url(../img/user.png);
}

.location {
	background-image: url(../img/location.png);
}

.date-time {
	background-image: url(../img/time.png);
}

.date-image-container {
	height: 180px;
	width: 180px;
	overflow: hidden;
	border-radius: 100px;
	border: 3px solid #DDD;
	margin: 10px auto;
}

.user-name {
	text-align: center;
	padding-bottom: 17px;
}

.user-image-container.single {
	border-color: #B5D655;
}

.user-image-container.taken {
	border-color: #FFC61B;;
}

.user-image-container.selected {
	border-color: #E81610;
}

button {
	border: none;
	box-shadow: none;
	font-family: 'Ubuntu';
	font-size: 1.2em;
	display: block;
	outline: none;
}

.std-btn {
	height: 50px;
	padding: 0px 30px;
	border-radius: 35px;
	color: #FFF;
}

.orange {
	background-color: #F27E00;
}

.orange:hover {

}

.orange:active {

}

#submit-proposal {
  margin-top: 10px;
}

#accept-proposal {
	float: left;
	margin: 10px 10px 0px 0px;
}

#reject-proposal {
	background-color: #ddd;
	color: #2a2a2a;
	float: left;
	margin: 10px 0px 0px 0px;
}

#reject-proposal:active {
	border: none;
}

textarea {
  border: none;
	padding: 10px;
	font-size: 1.2em;
	font-family: 'Ubuntu';
	resize: none;
}

#proposal-photos {
	width: 420px;
	margin: 0 auto;
}

#message-area {
  width: calc(100% - 20px);
	display: block;
  border: 1px solid #cfcac9;
  border-radius: 3px;
  margin-bottom: 10px;
}

input {
	border: none;
	font-size: 1.2em;
	font-family: 'Ubuntu';
	display: block;
	padding: 10px
}

.date-container {
	box-shadow: 0px 1px 3px rgba(0,0,0,.4);
	background-color: #f4eeec;
	padding: 40px;
}


.lg-input {
  width: calc(100% - 20px);
  margin-bottom: 10px;
  border: 1px solid #cfcac9;
  border-radius: 3px;
}

.date-picker {
	width: calc(50% - 40px);
	float: left;
}

.time {
   width: calc(50% - 20px);
   height: 42px;
   margin-top:2px;
   overflow: hidden;
   background-color: white;
    border: 1px solid #cfcac9;
  	border-radius: 3px;
   float: right;
}

.time select {
	background: transparent;
	width: 100%;
	padding: 10px;
	font-size: 16px;
	line-height: 1;
	border: none;
	height: 42px;
	-webkit-appearance: none;
}

.title {
	color: #AAA;
}

#map-canvas { 
	height: 260px; 
	width: 500px;
}

.section-header {
	margin: 20px 0px;
	text-align: center;
	font-size: 1.5em;
}

.payment-option {
	float: left;
	width: calc(25% - 10px);
	background-color: #f7f1ef;
	border: 1px solid #cfcac9;
	border-radius: 3px;
	height: 50px;
	margin-right: 10px;
	background-position: 10px center;
	background-repeat: no-repeat;
	text-indent: 50px;
	line-height: 50px;
}

#free {
	background-image: url('../img/heart.png');
}

#coffee {
	background-image: url('../img/coffee.png');
}

#drink {
	background-image: url('../img/drink.png');
}

#meal {
	background-image: url('../img/meal.png');
}

.payment-option:nth-child(4) {
	margin-right: 0px;
}

.payment-icon {
	float: left;
	margin: 10px;
}

.payment-amount{
	line-height: 50px;
	margin-left: 10px;
}

#footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: #f4eeec;
	border-top: 1px solid #cfcac9;
	height: 50px;
	line-height: 50px;
	font-size: .8em;
	color: #777;
}

#copyright {
	float: left;
	margin-left: 30px;
}

#logout {
	float: right;
	margin-right: 30px;
	cursor: pointer;
}

.selected-amount {
	background-color: #84CBBC;
}

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
	
	#home-container {
		margin-top: 80px;
	}
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

	img#home-image{
    height: 85%;
    width: 85%;
	}

	.user-image-container {
		height: 132px;
		width: 132px;
	}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

	img#home-image{
    height: 85%;
    width: 85%;
	}

	.user-image-container {
		height: 132px;
		width: 132px;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	#home-container {
		margin-top: 40px;
	}

	#home-image {
		display: none;
	}

	.user-image-container {
		height: 180px;
		width: 180px;
	}

	.payment-option {
	  text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
	}

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	
	#home-container {
		margin-top: 40px;
	}

	#home-image {
		display: none;
	}

	.user-image-container {
		height: 180px;
		width: 180px;
	}

	.payment-option {
	    text-indent: 100%;
	    white-space: nowrap;
	    overflow: hidden;
	}
}

/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }
	.double-bottom { margin-bottom: 40px !important; }