body {
	margin: 0px;
	padding: 0px;
	font-family: 'Ubuntu';
	color: #2a2a2a;
}

#container {
	margin: 0 auto;
	width: 960px;
}

.cta {
	text-align: center;
	color: #FFF;
}

.sm-cta {
  height: 20px;
	width: 20px;
	line-height: 20px;
	border-radius: 10px;
}

.lg-cta {
  height: 50px;
	width: 50px;
	line-height: 50px;
	border-radius: 25px;
}

.photo {
  background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#logo {
	font-size: 2.0em;
	line-height: 50px;
	float: left;
	color: #ed0000;
	cursor: pointer;
}

#lg-logo {
	font-size: 2.5em;
	color: #ed0000;
	margin: 20px 0px 60px 0px;
}

#slogan {
	text-align: center;
	font-size: 5.0em;
	font-weight: 300;
}

#fb-button {
	margin: 60px auto 10px auto;
	background-color: #3B5999;
	border-radius: 35px;
	color: #FFF;
	height: 70px;
	padding: 0px 30px;
	text-indent: 45px;
	background-image: url('../img/facebook.png');
	background-position: 30px center;
	background-repeat: no-repeat;
	border-bottom: 4px solid #293e6b;
	border-right: 2px solid #293e6b;
	border-left: 2px solid #293e6b;
}

#fb-button:active {
  border: none;
}

#endorser-container {
	margin-top: 60px;
	border-top: 1px solid #DDD;
	padding-top: 60px;
}

#endorser-left {
	width: 450px;
	float: left;
	margin-right: 60px;
}

#endorser-right {
	width: 450px;
	float: left;
}

.endorser-photo img{
	padding: 2px;
	border: 2px solid #DDD;
	border-radius: 45px;
	float: left;
}

.endorser-text {
	float: left;
	margin-left: 20px;
	line-height: 150%;
	max-width: 350px;
}

.endorser-name {
	color: #aaa;
	font-size: .8em;
} 


#disclaimer {
	text-align: center;
	color: #aaa;
	line-height: 150%;
	font-size: 1.0em;
}

#account-view{
	margin-top: 20px;
}

#account {
	float: right;
	position: relative;
}

#status {
	float: right;
	height: 50px;
	width: 90px;
	border-radius: 25px;
	line-height: 50px;
	position: relative;
	margin-right: 10px;
	color: #FFF;
	padding: 0px 20px;
	font-size: 1.2em;
}

#status.available {
	background-color: #2dc200;
}

#status.taken {
  background-color: #f2de00;
}

#status-button {
	background-color: #FFF;
	height: 40px;
	width: 40px;
	position: absolute;
	top: 5px;
	border-radius: 20px;
}

#status-button.available {
	left: 5px;
}

#status-button.taken {
	left: 85px;
}

#status-text.available {
	text-align: right;
}

#status-text.taken {
	text-align: left;
}

#alert {
  background-color: #ed0000;
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: .8em;
}

.instruction {
	font-size: 1.5em;
	text-align: center;
	background-color: #DDD;
	height: 50px;
	line-height: 50px;
	border-radius: 25px;
	margin: 20px auto;
}

#user-instruction {
	width: 420px;
}

.user-profile {
	height: 190px;
	width: 190px;
	border-radius: 100px;
	float: left;
	margin: 0px 10px 10px 0px;
	border: 5px solid #DDD;
}

.user-profile.available {
	border-color: #2dc200;
}

.user-profile.taken {
	border-color: #f2de00;
}

.user-profile.selected {
	border-color: #ed0000;
}

button {
	border: none;
	box-shadow: none;
	font-family: 'Ubuntu';
	font-size: 1.5em;
	display: block;
	outline: none;
}

#submit-proposal {
	background-color: #ed0000;
	height: 50px;
	padding: 0px 30px;
	border-radius: 50px;
	color: #FFF;
	margin: 20px auto;
}

textarea {
  border: none;
	padding: 10px;
	font-size: 1.2em;
	font-family: 'Ubuntu';
	resize: none;
}

#proposal-photos {
	width: 420px;
	margin: 0 auto;
}

#message-area {
	width: 480px;
	display: block;
	border-bottom: 2px solid #DDD;
}

input {
	border: none;
	font-size: 1.2em;
	font-family: 'Ubuntu';
	display: block;
	padding: 10px
}

#proposal-container {
	width: 500px;
	margin: 0 auto;
	border: 5px solid #DDD;
}

.lg-input {
  width: 480px;
  border-bottom: 2px solid #DDD;
}

.title {
	color: #AAA;
}

#map-canvas { 
	height: 260px; 
	width: 500px;
}

.section-header {
	margin: 20px 0px;
	text-align: center;
	font-size: 1.5em;
}

.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}